@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  margin: 0;
  text-decoration: none;
  background-color: #0F1630;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  height: 100%; 
}

