@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: #0f1630;
  width: 100%;
  height: 100%; 
}

